.removeIcon {
  cursor: pointer;
}
.saveBtn {
  margin-right: 10px;
}
.modal__variable-wrap {
  align-items: flex-end;
  border: 1px solid #e6e8eb;
  border-radius: 4px;
  padding-bottom: 20px;
  padding: 20px;
  margin-bottom: 10px;
}
.mat-dialog-title {
  border-bottom: 1px solid #3c4a5a;
}

.modal__variable-input {
  padding: 0 10px;
  width: 85%;
  height: 40px;
}
input {
  background-color: #fff;
  border: 1px solid #b3bac1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3c4a5a;
  outline: none;
  transition: border-color 0.15s;
}
.removeIcon {
  cursor: pointer;
}
.saveBtn {
  margin-right: 20px;
  cursor: pointer;
}
