.resultsView {
  padding: 70px 50px 50px 70px;
}
.result-header {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
table .table-light {
  background-color: #ddd;
}
table th {
  padding: 0.5rem;
}
tbody {
  border-top: none !important;
}
.titleDiv {
  cursor: pointer;
}
.titleLink {
  color: #0818a8;
  text-decoration: underline;
  cursor: pointer;
}
.addFilmContainer {
  justify-content: right;
  display: flex;
  cursor: pointer;
}
.addIcon {
  background: lightblue;
  line-height: 32px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.removeIcon {
  cursor: pointer;
}
